@import "vars"


/*==========  Desktop First  ==========*/

// ≥1200px
+media-breakpoint-down(lg)

// ≥992px
+media-breakpoint-down(md)

// ≥768px
+media-breakpoint-down(sm)
    .nav-container
        padding: 15px 0
        .nav-link
            text-align: center
            margin-right: 0
    h1
        font-size: 24px
        text-align: center
        margin: 20px  0
    .menu-left
        display: none
    p
        font-size: 13px
    footer
        text-align: center
        padding: 30px 0
        img
            z-index: -1
            width: 30%
        .footer-menu
            display: block !important
            text-align: center
            margin-bottom: 20px
            a
                display: block
                margin: 0 auto 15px
    main
        padding-bottom: 40px



// ≥576px
+media-breakpoint-down(xs)

/*==========  Mobile First  ==========*/

// ≤576px
+media-breakpoint-up(sm)

// ≤768px
+media-breakpoint-up(md)

// ≤992px
+media-breakpoint-up(lg)

// ≤1200px
+media-breakpoint-up(xl)
