@import "vars"
@import "fonts"
@import "libs"

body
    font-family: 'Roboto', sans-serif

.nav-container
    padding: 40px 0
    .nav-link
        margin-right: 40px

main
    padding-bottom: 100px

h1
    margin: 100px 0
    color: $dark

.menu-left
    a
        color: $dark
        font-size: 18px
        display: block
        margin-bottom: 10px
        &.active
            font-size: 24px
            font-weight: 500

p
    font-size: 18px

footer
    padding: 100px 0 50px
    border-top: 1px solid #4DCE89
    position: relative
    .footer-menu
        a
            font-size: 13px
            margin-left: 50px
            color: $dark
    p
        font-weight: 500
        font-size: 13px
        margin-bottom: 15px
    .fa
        font-size: 22px
        color: $dark
    img
        position: absolute
        bottom: 0
        left: 0
        width: 500px
        background-color: white
.green
    color: #4DCE89
.card
    border: none
    text-align: center
    margin: 10px 15px
    h4
        font-size: 16px
        margin-top: 10px
    p
        font-size: 12px
.card-page
    padding: 198px 0 233px 0
    h2
        font-size: 48px
    p
        color: #828282
        font-size: 14px
.btn
    background: #4DCE89
    color: white
.page
    &--main
        //overflow-x: hidden
        header
            .socials
                padding-top: 20vh
                .fa
                    margin: 11px 0
                    font-size: 26px
                    color: white
                    outline: none
                    &:hover
                        text-decoration: none
                        color: black
                        transition: 0.4s ease
            .controls
                position: absolute
                bottom: 40px
                right: 40px
                z-index: 111
                span
                    cursor: pointer
                    font-size: 15px
                    letter-spacing: 0.38px
                    color: #ffffff
            .swiper-slide
                //height: calc(100vh - 170px)
                height: 100vh
                background-repeat: no-repeat
                background-size: cover
                .content
                    padding-top: 25vh
                    .title
                        font-size: 88px
                        line-height: 0.91
                        color: white
                        margin: 0
                    p
                        font-size: 22px
                        line-height: 1.45
                        color: white
                        margin-top: 24px
                        margin-bottom: 45px
                    button
                        display: flex
                        align-items: center
                        justify-content: center
                        background-color: white
                        padding: 13px 30px
                        margin-top: 100px
                        border: 0
                        span
                            font-weight: bold
                            letter-spacing: .4px
                            color: black
                            cursor: pointer
                            outline: none
                            line-height: 1
main
    padding-bottom: 0
    .content
        padding-top: 25vh
    .barba-container
        position: relative
    header
        position: relative
        width: 100%
        height: 100vh
        background-size: cover
        background-position: center center
    .title
        font-size: 88px
        line-height: 0.91
        color: white
        margin: 0
    p
        font-size: 22px
        line-height: 1.45
        color: white
        margin-top: 24px
        margin-bottom: 45px
    button
        display: flex
        align-items: center
        justify-content: center
        background-color: white
        padding: 13px 30px
        margin-top: 100px
        border: 0
        span
            font-weight: bold
            letter-spacing: .4px
            color: black
            cursor: pointer
            outline: none
            line-height: 1
    a.nav
        font-family: 'Source Sans Pro', serif
        display: block
        position: absolute
        top: 67vh
        right: 0
        bottom: 0
        left: 0
        background-position: center
        background-size: contain
        text-decoration: none
        color: #fff
        z-index: 99
        outline: none

        &.next
            -webkit-clip-path: circle(40px at 97% 50%)
        &.prev
            -webkit-clip-path: circle(40px at 3% 50%)
@import "media" // Always at the end
